version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.11
    
    steps:
      - checkout

      - run:
          name: Install Python Dependencies
          command: |
             pip install -r requirements.txt
      
      - run:
          name: Run Pytest
          command: |
            PYTHONPATH=. pytest -v tests/
            
workflows:
  version: 2
  main:
    jobs:
      - build-and-test
